@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

$background-color:#252134;
$primary:#FFA967;

// general
body {
  margin:0;
  padding:0;
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

menu {
  padding:0;
  margin:0;
}

* {
  box-sizing: border-box;
}

#app {
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.container {
  width:100%;
  max-width:400px;
  margin:1rem;
}

.debug-area {
  position:fixed;
  top:0;
  left:0;
  opacity: 0.1;
}

// layout
.fullpage-container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100vh;
  width:100vw;
}

.full-width {
  width:100%;
}

// typography
h1,h2,h3,h4,h5,h6 {
  font-weight:300;
}

p {
  color:white;
}

.center {
  text-align:center;
}

.main-title {
  color:white;
  text-align:center;
}


// input
.input-container {
  background:white;
  display:flex;
  flex-direction: column;
  border-radius:1rem;
  overflow:hidden;
  margin-bottom:1rem;
}

button {
  padding:1rem 2rem;
  border-radius:1000px;
  border:none;
  background-color:$primary;
  color:white;
  font-size:1.2rem;
}

input, textarea {
  border:none;
  font-family: 'Open Sans', sans-serif;
  padding:1rem 2rem;
  margin:0;
  font-size:1rem;
  border-radius:1rem;
  resize:none
}




// word 

.word {
  background-image: url(assets/img/paper.png);
  background-size: 100% 100%;
  color: #001e8ac4;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  font-family: Architects Daughter, sans-serif;
  user-select: none;  
  z-index:2;
}


.word h1 {
  text-align:center;
  font-size:3rem;
  margin:0;
}

.inner_word {  
  padding:1rem;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  position:absolute;
  width:100%;
  height:100%;
}


.my-turn_fullpage {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}